<header class="page-header">
  <h1>Welcome to the Jungle (store)!
</header>

<div><h2>Check out our products!</h2><div>

<div><h3>Online store by Vanessa built using Ruby, Ruby on Rails, ERB, and Active Record(AR).</h3><div>